*{
    box-sizing: border-box;
}
body {
}

.main-container {
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.timer{
    width: 100px;
    margin: 10px auto;
    text-align: center;
}

.smiley {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: auto;
    display: block;
}

.board {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 2px solid black;
    width: 30px;
    height: 30px;
}

.difficulty{
    margin: 20px auto;
    width:235px;
}

.difficulty button{
    width:65px;
}

ul{
    padding:0;
}

li{
    display:inline-block;
    list-style: none;
    margin: auto 5px;
}

.hints{
    width: 140px;
    margin: auto;    
}

.hints button{
    background-color: white;
    border:none;
    font-size: 20px;
}
.exploded {
    background-color: red;
}

.closed-cell {/*Change to closed-cell/unrevealed-cell*/
    background-color: orange;
}

.boom {
    color: red;
    font-size: 50px;
}


.hidden-modal {/*after changing hidden-cell name change to /hidden*/
    display: none;
}

.invisible{
    visibility: hidden;
}

.highligt-text{
    text-shadow: 1px 1px 8px rgb(70, 113, 179);
}

.marked {
    background-color: chartreuse;
}

.levels {
}

.lives {
    margin: 20px;
    text-align: center;
}


/* numbers */
.numbers {
}

.number1 {
}

.number2 {
}

.number3 {
}

.number4 {
}

.number5 {
}

.number6 {
}

.number7 {
}

.number8 {
}
